html {
  height: 100%;
  width: 100%;
}

 /*=========================================

   Plant Identifier browse button

 /* ======================================*/ 

 .custom-file {

   position: relative;

   display: inline-block;

 }



 .custom-file-input {

   position: absolute;

   left: 0;

   top: 0;

   width: 100%;

   height: 100%;

   opacity: 0;

 }



 .custom-file-label {

   position: relative;

   left: 0;

   top: 0;

   width: 100%;

   height: 100%;

   padding-top: 7px;

   padding-bottom: 7px;

   padding-left: 1rem;

   padding-right: 1rem;

   font-size: 1rem;

   line-height: 1.5;

   color: #fff;

   background-color: #0F6EFD;

   border-radius: 0.35rem;

   display: flex;

   align-items: center;

 }



 .custom-file-label::after {

   content: "Upload";

 }



 .custom-file-input:valid + .custom-file-label::after {

   content: "File uploaded!";

 }



 .custom-file-input:focus + .custom-file-label,

 .custom-file-input.has-focus + .custom-file-label {

   border-color: red;

   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

 }

/*=========================================
  to-do app
/* ======================================*/ 
.input-group {
  display: flex;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

#addButton {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#addButton:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: white;
}
li.completed {
  text-decoration: line-through;
  color: gray;
}

button.delete {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #c82333;
}